In [11]:
 for i in range(1,9):
        print(i)

1
2
3
4
5
6
7
8

In [10]:
n = int(input("enter the number"))
f = 1
if n < 0:
    print("no factorial")
elif n == 0:
    print(" 1 is a factorial")
else:
    for i in range(1,n + 1):
        f = f * i
    print(f ," is a factorial of" , n)

enter the number6
720  is a factorial of 6

In [3]:
t = int(input("enter the number"))
d = 1
for i in range(1 , 11):
    c = t * i
    print( t , " * " , i ,  " = " , c)

enter the number8
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80

In [4]:
a = int(input())
a = list(range (0 , a))
for i in a:
    
    print(i)

7
0
1
2
3
4
5
6

In [5]:
a = int(input('enter the number'))
fibonacc = [0 , 1]
if a > 2:
    for i in range(2 , a):
        next = fibonacc[i - 1] + fibonacc[i - 2]
        fibonacc.append(next)
        
print(fibonacc)

enter the number24
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657]

In [9]:
num = int(input("enter the number"))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum = sum + digit ** 3
    temp = temp // 10
if num == sum:
    print(num, " is a armstrong number")
else:
    print(num , "is not a armstrong number")

enter the number371
371  is a armstrong number

In [7]:
lower = int(input('enter the lower - '))
upper = int(input("enter the upper - "))
for i in range(lower , upper + 1):
    order = len(str(i))
    sum = 0
    temp = i
    while temp > 0:
        d = temp % 10
        sum = sum + d ** order
        temp = temp // 10
    if i ==sum:
        print(i)

enter the lower - 100
enter the upper - 3000
153
370
371
407
1634

In [8]:
n = int(input('enter the number'))
sum = 0
for i in range(1 , n+1):
    sum = sum + i
print(sum,"the sum natural numbers")

enter the number77
3003 the sum natural numbers